HR Cold Email Automation.json
{
  "name": "HR Cold Email Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "ecce9a3e-947b-4ad7-8692-cb6a29cf610e",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o",
          "mode": "list",
          "cachedResultName": "Cold Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 318339136,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o/edit#gid=318339136"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "fd6c4209-0be5-42a0-95a1-3b2b95fd07bc",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bozBljWZlsOVbMjU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "0247a195-6ed4-4429-867a-9790ac552261",
              "leftValue": "={{ $json['Send Status'] }}",
              "rightValue": "SENT",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        384,
        0
      ],
      "id": "53d8cf38-263f-4dee-8698-d73003c07dd4",
      "name": "If"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        656,
        -16
      ],
      "id": "39968ec6-3c99-46b3-bfc8-3de7f0805821",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o",
          "mode": "list",
          "cachedResultName": "Cold Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 480763204,
          "mode": "list",
          "cachedResultName": "Sheet2",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o/edit#gid=480763204"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        880,
        -112
      ],
      "id": "9d12f76b-2933-4ca3-926c-d04fa59997fc",
      "name": "Get row(s) in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bozBljWZlsOVbMjU",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Get templates from previous node\nconst templates = items.map(item => item.json);\n\n// Check if templates exist\nif (!templates || templates.length === 0) {\n  throw new Error('No templates found');\n}\n\n// Pick a random template\nconst index = Math.floor(Math.random() * templates.length);\nconst template = templates[index];\n\n// Convert body to HTML\nconst bodyHtml = template.Body.replace(/\\n/g, '<br>');\n\n// Return in n8n-compatible format\nreturn [\n  {\n    json: {\n      subject: template.Subject,\n      body: bodyHtml\n    }\n  }\n];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        -112
      ],
      "id": "bea1f1cd-7917-4e14-8cc3-b881d135b40c",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        1280,
        -16
      ],
      "id": "1e1f6d23-b80c-4649-bed2-82ccd878f8bf",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d753251-e56f-4947-93ea-120feae5132d",
              "name": "body",
              "value": "={{ $json.body.replace(\"[name]\", $json[\"Name\"] && $json[\"Name\"].trim() !== '' ? $json[\"Name\"].trim() : \"there\") }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1488,
        -16
      ],
      "id": "007d241d-78e1-4338-ac44-782093438e19",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "sendTo": "={{ $json.Email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.body }}",
        "options": {
          "appendAttribution": false,
          "senderName": "Ranjeet"
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.1,
      "position": [
        1744,
        128
      ],
      "id": "3648fc28-50a4-43da-9c70-7fdc2f24ab0d",
      "name": "Send a message",
      "webhookId": "abb350cb-9f88-4cfc-a6a3-515013506111",
      "credentials": {
        "gmailOAuth2": {
          "id": "ewfxlp04s8vwWcXI",
          "name": "Gmail account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        2176,
        0
      ],
      "id": "b82af63e-bf5a-4415-a845-bc3cfe8fd26b",
      "name": "Merge1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        288
      ],
      "id": "f1f90378-f1b7-4b57-a836-b5fe18c365bc",
      "name": "Wait",
      "webhookId": "85d5671c-81a5-428c-8cc0-2e809caf9672"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o",
          "mode": "list",
          "cachedResultName": "Cold Emails",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 318339136,
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1ZD8iMDtcoh0C7-wPy8e9kvJPyGNg0vPYjGLPyi8t2-o/edit#gid=318339136"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Email": "={{ $json.Email }}",
            "Send Status": "={{ $json.labelIds[1] }}",
            "Time": "={{ new Date().toLocaleTimeString(\"en-GB\", { timeZone: \"Asia/Kolkata\", hour12: false }) }}",
            "Date": "={{ new Date().toLocaleDateString(\"en-GB\", { timeZone: \"Asia/Kolkata\" }) }}"
          },
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Send Status",
              "displayName": "Send Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Time",
              "displayName": "Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2384,
        0
      ],
      "id": "e9ee51aa-8050-4570-99fe-7e8395ceb5d4",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "bozBljWZlsOVbMjU",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Get row(s) in sheet1",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get row(s) in sheet1": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a message": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge1": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c4a5c8fa-b7a8-45b8-a4f1-d1b6221eae99",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "6abf6b3f4ceea313d2b679a3c1b2e8c693eabd6ba3cba09bf330751173cc5778"
  },
  "id": "1mlE5xrXI3zvGK2Q",
  "tags": []
}